.about-content{
    padding: 50px;
}

.about-sub-content{
    display: inline-block;
    padding-top: 20px;
}

.about-image{
    width: 100%;
    border:2px;
    border-color: black;
    border-style: solid;
    border-radius: 25%;
}

.about-sub-text{
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
}

.about-sub-div1{
    float: left;
    width: 47%;
    height: 500px;
}

.about-sub-div2{
    display:flex;
    justify-content:center;
    align-content: center;
    float: right;
    width: 47%;
    height: 500px;
}

.contact-content{
    padding: 50px;
}

.contact-sub-conent{
    display: inline-block;
    padding-top: 20px;
}

.contact-image{
    width: 100%;
    height: 50px;
}

.contact-sub-text{
    font-size: 1.1em;
    justify-self: center;
    align-self: center;
    padding-top: 15px;
}

.contact-sub-div1{
    float: left;
    width: 5%;
}

.contact-sub-div2{
    display:flex;
    justify-content:left;
    align-content: center;
    float: right;
    width: 95%;
    height: 50px;
}

.index-heading{
    display:flex;
    justify-content: center;
    align-content: center;
}

.review_light{
    color: gray;
}

.review_form{
    margin: 2.5%;
    padding: 2.5%;
    background-color: lightgray;
    border-radius: 5%;
}

.reviews-card{
    padding: 5%;
}

.reviews-img{
    width: 15%;
}